%head
  /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %meta{:charset => 'UTF-8'}
  /[if IE]
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  - if current_page?(root_url)
    - @title_tag = 'Free Classified Advertising Platform for Swapping Unwanted Items for Beer | Swap4Beer'
  - else
    - @title_tag = 'Swap4Beer | Swapping Unwanted Items for Beer'
  = display_meta_tags site: @title_tag,
                      keywords: '',
                      description: 'SWAP4BEER is a free classified ad platform for swapping your unwanted items for beer  - Mates Rates Classifieds!',
                      separator: '|',
                      reverse: true

  %meta{content: "PixelForce Systems", :name => "author"}
  %meta{:content => "Copyright AURA Health #{Date.today.year}. All Rights Reserved.", :name => "Copyright"}

  %meta#viewport{content: "width=720", name: "viewport"}
  :javascript
    (function(doc) {
      var viewport = document.getElementById('viewport');
      if ( navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
          doc.getElementById("viewport").setAttribute("content", "initial-scale=0.5");
      } else if ( navigator.userAgent.match(/iPad/i) ) {
          doc.getElementById("viewport").setAttribute("content", "initial-scale=0.8");
      }
    }(document));

  %link{:href => "/favicon.ico", :rel => "shortcut icon"}
  / %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", rel: "stylesheet", type: "text/css"}

  = render 'stylesheets'
  = javascript_include_tag 'polyfills'
  = csrf_meta_tag

  /[if lt IE 9]
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

